@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: url("/background.png");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
nav .links a {
  font-family: "Poppins";
  margin-left: 4rem;
  color: white;
  font-size: 0.9rem;
  transition: all 0.2s;
}
nav .links a:hover {
  color: #3EC7A9;
}
nav .hamburger .bar {
  display: block;
  width: 24px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
nav .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
nav .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
nav .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}